*{
  --grey: hsl(240, 9%, 89%);
  --red: rgb(135, 18, 18);

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  display: flex;
  margin: 0px;
}
main {
  width: 30%;
  float: left;
}
.illustration {
  color: var(--grey);
  background-color: var(--red);
  padding-top: 1px;
  padding-bottom: 49%;
}
lottie-player {
  width: 100%;
  height: 100%;
  margin: 5rem auto 0;
}
h4 {
  text-align: center;
}
h3 {
  padding-top: 0%;
  text-align: center;
}
section {
  background-color: white;
  width: 70%;
  float: left;
  text-align: center;
  padding: 0 8px;
}
.icon{
  color: red
}
ul{
  margin-left: 16rem;
  max-height: 150px;
  width: 500px;
  overflow: auto;
  list-style: none;
  flex-direction: column;
}
li{
  margin: 0 auto;
  border:1px solid var(--grey);
  margin-bottom: 0.5rem;
  padding: 5px;
  border-radius: 15px;
}
.list, .head_white, .head_form{
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: solid 1px var(--grey);
  padding: 1rem;
}
input, button{
  border-color: red;
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  margin: 0.5rem;
}
input{
  
  border-top: solid 1px var(--grey);
  padding: 1rem;
}
button{
  color: white;
  background-color: var(--red);
  transition: 0.2s;
}
button:hover{
  filter : brightness(0.8)
}
.list{
  border-top: solid 1px var(--grey);
  padding: 1rem;
}